{% extends "base_generic.html" %}

{% block content %}
  <h1 style="padding:30px">Chatting App</h1>
  <p>Welcome to Chatting App, a website developed by <em>Tomáš Menšík</em>!</p>
  <h2>Status</h2>
  <p>STILL IN PROGRESS...</p>

  <div style="padding:10px">
    <strong>Users:</strong> {{ num_users }}
    <strong>Rooms:</strong> {{ num_rooms }}
    <strong>Messages:</strong> {{ num_messages }}
  </div>

<p>You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.</p>
{% endblock %}