{% extends "base_generic.html" %}

{% block content %}
  <h1>Message List</h1>
  {% if message_list %}
<div class="row">
    {% for message in message_list %}
    <div class="col-md-4" style="padding:30px">
        <div><strong>Title:</strong>{{message.title}}</div>
        <div><strong>Message:</strong> {{message.message}}</div>
        <div><strong>Date:</strong> {{message.date}}</div>
        <div><strong>Likes:</strong> {{message.likes}}</div>
        <div><strong>Dislikes:</strong> {{message.dislikes}}</div>
<!--        <a href={{ user.photo }}></a>-->
    </div>
    {% endfor %}
  </div>
  {% else %}
    <p>There are no rooms.</p>
  {% endif %}
{% endblock %}
