{% extends "base_generic.html" %}

{% block content %}
  <h1 style="padding:30px;">Message List</h1>
  {% if message_list %}
    {% for message in message_list %}
<div class="card text-center">
  <div class="card-body">
    <h3 class="card-title">{{message.title}}</h3>
        <p><strong>Title:</strong> {{message.title}}</p>
        <p><strong>Author:</strong> STILL IN PROGRESS... </p>
        <p><strong>Chat:</strong> STILL IN PROGRESS... </p>
        <p><strong>Message:</strong> {{message.message}}</p>
        <p><strong>Date:</strong> {{message.date}}</p>
        <p><strong>Likes:</strong> {{message.likes}}</p>
        <p><strong>Dislikes:</strong> {{message.dislikes}}</p>
  </div>
</div>
    {% endfor %}
  {% else %}
    <p>There are no rooms.</p>
  {% endif %}

<style>

    .card{
    margin:50px;
    }

  .card:hover {
        transform: scale(1.1);
        box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.4);
        z-index: 3;
        border-color: black !important;
    }

</style>

{% endblock %}