{% extends "base_generic.html" %}

{% block content %}
  <h1>Title: {{ message.title }}</h1>

  <p><strong>Title:</strong> <a href="">{{ message.title }}</a></p> <!-- author detail link not yet defined -->
  <p><strong>Number of people:</strong> {{ message.number_of_people }}</p>
  <p><strong>Date:</strong> {{ message.date }}</p>
  <p><strong>Description:</strong> {{ message.descriptions }}</p>
  <p><strong>Users:</strong> {{ message.user_fk}}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Copies</h4>
  </div>
{% endblock %}

