{% extends "base_generic.html" %}

{% block content %}
  <h1 style="padding:30px;">Room List</h1>
  {% if room_list %}
    {% for room in room_list %}
<div class="card text-center">
  <div class="card-header">{{room.date}}</div>
  <div class="card-body">
    <h5 class="card-title">{{room.title}}</h5>
    <p class="card-text">{{room.description}}</p>
        <p class="card-text">Users in the chat: STILL IN PROGRESS...</p>
        <p class="card-text">Number of messages: STILL IN PROGRESS...</p>
    <a href="#" class="btn btn-primary">Click here</a>
  </div>
  <div class="card-footer text-muted">0 / {{room.number_of_people}}</div>
</div>
    {% endfor %}
  {% else %}
    <p>There are no rooms.</p>
  {% endif %}

<style>
    .card{
        margin: 50px;
    }

      .card:hover {
        transform: scale(1.1);
        box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.4);
        z-index: 3;
        border-color: black !important;
    }

</style>


{% endblock %}