{% extends "base_generic.html" %}

{% block content %}
  <h1>Title: {{ room.title }}</h1>

  <p><strong>Title:</strong> <a href="">{{ room.title }}</a></p> <!-- author detail link not yet defined -->
  <p><strong>Number of people:</strong> {{ room.number_of_people }}</p>
  <p><strong>Date</strong> {{ room.date }}</p>
  <p><strong>Description:</strong> {{ room.descriptions }}</p>
  <p><strong>Users:</strong> {{ room.user_fk}}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Copies</h4>
  </div>
{% endblock %}