{% extends "base_generic.html" %}

{% block content %}
  <h1>Room List</h1>
  {% if room_list %}
<div class="row">
    {% for room in room_list %}
    <div class="col-md-4" style="padding:30px">
        <div><strong>Title:</strong> {{room.title}}</div>
        <div><strong>Message:</strong> {{room.message}}</div>
        <div><strong>Date:</strong> {{room.date}}</div>
        <div><strong>Likes:</strong> {{room.likes}}</div>
        <div><strong>Dislikes:</strong> {{room.dislikes}}</div>
<!--        <a href={{ user.photo }}></a>-->
    </div>
    {% endfor %}
  </div>
  {% else %}
    <p>There are no rooms.</p>
  {% endif %}
{% endblock %}
