{% extends "base_generic.html" %}

{% block content %}
  <h1 style="padding:30px;">Room List</h1>
  {% if room_list %}
    {% for room in room_list %}
<div class="row xd">
    <div class="col-md-3"></div>
    <div class="col-md-6 yd" style="padding:30px">
        <div><strong>Title:</strong> {{room.title}}</div>
        <div><strong>Description:</strong> {{room.description}}</div>
        <div><strong>Number of people:</strong> 0/{{room.number_of_people}}</div>
<!--        <div><strong>Users in the room:</strong><a href=">{{room.user_fk}}</a></div>-->
<!--        <div><strong>Messages in the room:</strong><a href="">{{room.message_fk}}</a></div>-->
        <div><strong>Date:</strong> {{room.date}}</div>
    </div>
      </div>
    <div class="col-md-3"></div>
    {% endfor %}
  {% else %}
    <p>There are no rooms.</p>
  {% endif %}

<style>
    .yd{box-shadow: 3px 3px 4px 4px #888888; margin:10px;}
    .yd:hover{box-shadow: 3px 3px 4px 4px lightblue;}
    h1{padding-bottom: 50px;}
    a{color:red;}

</style>


{% endblock %}
