{% extends "base_generic.html" %}

{% block content %}
  <h1 style="padding:30px;">User detail</h1>

        <div><strong>Name:</strong> {{userDetail.name}}</div>
        <div><strong>Password:</strong> {{userDetail.password}}</div>
        <div><strong>Email:</strong> {{userDetail.email}}</div>
        <div><strong>Age:</strong> {{userDetail.age}}</div>
        <div><strong>Gender:</strong> {{userDetail.gender}}</div>
        <div><strong>Followers:</strong> {{userDetail.followers}}</div>
        <div><strong>Following:</strong> {{userDetail.following}}</div>
        <div><strong>Joined groups:</strong> STILL IN PROGRESS...</div>
        <div><strong>Number of messages:</strong> STILL IN PROGRESS...</div>
{% endblock %}