{% extends "base_generic.html" %}

{% block content %}
  <h1 style="padding:30px;">User List</h1>
  {% if user_list %}
    {% for user in user_list %}
<div class="row xd">
    <div class="col-md-3"></div>
    <div class="col-md-6 yd" style="padding:30px;">
        <div><strong> Name:</strong> {{user.name}}</div>
        <div><strong>Password:</strong> {{user.password}}</div>
        <div><strong>Email:</strong> {{user.email}}</div>
        <div><strong>Age:</strong> {{user.age}}</div>
        <div><strong>Gender:</strong> {{user.gender}}</div>
        <div><strong>Followers:</strong> {{user.followers}}</div>
        <div><strong>Following:</strong> {{user.following}}</div>
<!--        <a href={{ user.photo }}></a>-->
    </div>
        <div class="col-md-3"></div>
  </div>
    {% endfor %}
  {% else %}
    <p>There are no users.</p>
  {% endif %}

<style>
    .yd{box-shadow: 3px 3px 4px 4px #888888; margin:10px;}
    .yd:hover{box-shadow: 3px 3px 4px 4px lightblue;}
    h1{padding-bottom: 50px;}

</style>

{% endblock %}