{% extends "base_generic.html" %}

{% block content %}
  <h1>User List</h1>
  {% if user_list %}
<div class="row">
    {% for user in user_list %}
    <div class="col-md-4" style="padding:30px">
        <div><strong> Name:</strong>{{user.name}}</div>
        <div><strong>Password:</strong> {{user.password}}</div>
        <div><strong>Email:</strong> {{user.email}}</div>
        <div><strong>Age:</strong> {{user.age}}</div>
        <div><strong>Gender:</strong> {{user.gender}}</div>
        <div><strong>Followers:</strong> {{user.followers}}</div>
        <div><strong>Following:</strong> {{user.following}}</div>
<!--        <a href={{ user.photo }}></a>-->
    </div>
    {% endfor %}
  </div>
  {% else %}
    <p>There are no users.</p>
  {% endif %}
{% endblock %}